.promo {
    min-height: 100vh;
    position: relative;
    background: url(../img/13.jpg) no-repeat 50%/cover;
    padding-top: 205px;
    &__title {
        width: 535px;
        margin-top: 10px;
        margin-left: 3px;
    }
    &__subtitle {
        position: relative;
        padding-left: 10px;
        z-index: 1;
        @include before_circle;
    }
    &__btns {
        margin-top: 25px;
        width: 250px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        font-weight: bold;
        color: #000000;
        text-decoration: none;
        display: flex;
        align-items: center;
        &:hover {
            color: #000000;
            text-decoration: none;
        }
    }
}